/*
prefix: ($property, $value) {
    -webkit-${property}: $value;
    -moz-${property}:    $value;
    -ms-${property}:     $value;
    -o-${property}:      $value;
    ${property}:         $value;
}
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
main, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    min-height: 100%;
}

body {
    line-height: 1;
    height: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Force these fields to be LTR even on RTL languages */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[inputmode="verbatim"],
input[inputmode="latin"],
input[inputmode="numeric"],
input[inputmode="tel"],
input[inputmode="email"],
input[inputmode="url"] {
    text-align: left !important;
    direction: ltr !important;
}

.antialias {
    font-smoothing:         antialiased;
    -webkit-font-smoothing: antialiased;
    text-rendering:  optimizeLegibility;
}

.ellipsis {
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

.no-select {
    user-select: none; /* prob should prefix */
}

.no-touch {
    touch-action:     none;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-drag: none;
}

/* Something special for large screens */
@media (min-width: 768px) {}

/* Something special for really large screens */
@media (min-width: 1240px) {}
